@inherits LayoutComponentBase

<PageTitle>Mum</PageTitle>

<div class="page">
    <main>
        <div class="top-bar">
            <h1>Mum Account Manager</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
